@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* headings */
header{
    margin:0;
}

.heading{
    padding-left:50px;
}

.name{
    font-family: "Exo", sans-serif;
    font-weight:400;
    color:white;
    margin-top:50px;
}

.title{
    font-family: "roboto", sans-serif;
    font-weight:200;
    font-size: 28px;
    margin-bottom:70px;
}
.logo{
    background: url("/assets/images/prop.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    min-height:360px;

    -moz-transition: all .9s ease-in-out;
    -webkit-transition: all .9s ease-in-out;
}

/*colors*/
.bg-color-head{
    background-color: grey;
}

.nav-bgc-home{
    background-color: rgb(197, 135, 19);
}

.nav-bgc-resume{
    background-color: rgb(145, 17, 145);
}

.nav-bgc-contact{
    background-color: rgb(67, 67, 192);
}

.nav-bgc-download{
    background-color: rgb(78, 72, 72);
}